@model IEnumerable<Krepsinio_varzybos.Models.KarjerosEtapasL>

@{
    ViewData["title"] = "Karjeros etapai"; // Career Stages
}

<div class="main-content-header">
    <span class="title">@ViewData["title"]</span>
    <span class="actions">
        <a href="@Url.Action("Create")" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> Sukurti naują
        </a>
    </span>
</div>

<div class="main-content-lst">
    <table class="entity-list">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Pradzios_data)</th>
                <th>@Html.DisplayNameFor(model => model.Pabaigos_data)</th>
                <th>@Html.DisplayNameFor(model => model.Komanda)</th>
                <th>@Html.DisplayNameFor(model => model.ZaidejasVardas)</th>
                <th>@Html.DisplayNameFor(model => model.ZaidejasPavarde)</th>
                <th>@Html.DisplayNameFor(model => model.PareigosPavadinimas)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pradzios_data)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pabaigos_data)</td>
                    <td>@Html.DisplayFor(modelItem => item.Komanda)</td>
                    <td>@Html.DisplayFor(modelItem => item.ZaidejasVardas)</td>
                    <td>@Html.DisplayFor(modelItem => item.ZaidejasPavarde)</td>
                    <td>@Html.DisplayFor(modelItem => item.PareigosPavadinimas)</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary">
                            <i class="fa-solid fa-pen-to-square"></i> Redaguoti
                        </a>
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i> Šalinti
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
